// Глобальные стили
body {
    font-family: 'PT Sans Narrow', sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
// Меню
.nav { 
    display: flex;
    justify-content: space-between;
}

// Преимущества
// Новости
// Фотогаллерея
// Контактная информация
// Записаться
// Футер
// Модальное окно