body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #000000;
  background: url("../img/Layer.jpg");
  background-repeat: no-repeat;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper {
  width: 100%;
  background-color: #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .menu {
  width: 510px;
}

.nav .menu .menu-nav {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .menu-user {
  width: 65px;
}

.nav .menu-user ul {
  margin: 0;
}

.nav .menu-title {
  display: block;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px auto 80px;
}

.benefits {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits .benefits-item {
  margin-right: 20px;
  margin-bottom: 90px;
  width: 300px;
}

.benefits .benefits-item h2 {
  text-align: center;
  color: #ffffff;
}

.benefits .benefits-item p {
  text-align: center;
  color: #ffffff;
}

.wrapper-ngcf {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f4f1;
  background-image: url(../img/Layer-10-copy.jpg);
}

.news {
  width: 50%;
  margin-top: 60px;
}

.news .news-wrapper {
  width: 360px;
  margin: 0 auto;
}

.news .news-title {
  margin: 0;
  color: #000000;
}

.news .news-item p {
  margin-top: 35px;
  color: #000000;
}

.news .news-item time {
  margin-top: 15px;
  color: #000000;
}

.news .btn {
  display: block;
  width: 140px;
  margin-bottom: 50px;
  margin-top: 35px;
  padding: 15px 0px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.gallery {
  width: 50%;
  margin-top: 60px;
}

.gallery .gallery-wrapper {
  width: 300px;
  margin: 0 auto;
}

.gallery h2 {
  margin: 0;
  color: #000000;
}

.gallery img {
  display: block;
  margin: 40px auto 17px;
  padding: 0;
}

.gallery .gallery-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .gallery-btn .btn {
  display: block;
  width: 140px;
  margin-bottom: 50px;
  margin-top: 45px;
  padding: 15px 0px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

.wrapper-cf {
  width: 940px;
  margin: 40px auto 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f4f1;
  background-image: url(../img/Layer-10-copy.jpg);
}

.contact {
  width: 50%;
}

.contact .contact-wrapper {
  width: 325px;
  margin: 0 auto;
}

.form {
  width: 50%;
}

.form .form-wrapper {
  width: 300px;
  margin: 0 auto;
}

.form .form-wrapper .form-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .form-wrapper .form-item1 input {
  margin: 15px 0;
  width: 140px;
}

.form .form-wrapper .form-item1 .form-data,
.form .form-wrapper .form-item1 .form-name {
  margin-right: 20px;
}

.form button {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 45px;
  padding: 15px 0px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}
/*# sourceMappingURL=style.css.map */